[submodule "submodules/stylecop"]
	path = submodules/stylecop
	url = https://github.com/waves-framework/waves.stylecop.git
[submodule "submodules/ui.avalonia"]
	path = submodules/ui.avalonia
	url = https://github.com/waves-framework/waves.ui.avalonia